{% extends 'base_controle.html' %}
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/controle"><img src="../../static/images/logo.png" alt="HeadTec logo"/></a>
            <div class="collapse navbar-collapse" >
              <ul class="navbar-nav mr-auto nav-pills nav">
                <li class="nav-item ">
                  <a class="nav-link" href="/controle">Inicio </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/controle/empresa">Empresa<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/controle">Casa</a>
                </li>
                  <li class="nav-item">
                  <a class="nav-link" href="/controle">Pessoal</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/relatorios">Relatorios</a>
                </li>
              </ul>
              <ul class="navbar-nav float-right">
                <li class="nav-item">
                  <a class="nav-link form-inline my-2 my-md-0" href="/logout">Sair</a>
                </li>
              </ul>
            </div>
        </div>
        </nav>
        {% endblock %}
{% block body %}
{% load static %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link1 nav-link " href="/controle/empresa">Empresa </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link1 nav-link " href="/ordem">Ordens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link1 nav-link " href="/cliente/cliente">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link1 nav-link active" style="color: #fff; background-color: #57a695; border-color: #57a695;" href="/contas/contas_pagar">Contas a pagar<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link1 nav-link " href="/contas/busca_contas_pagar">- Buscar conta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link1 nav-link " href="/contas/pagar_contas_pagar">- Pagar conta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link1 nav-link " href="/contas/contas_receber">Contas a receber</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link1 nav-link " href="/controle/produto">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link1 nav-link " href="/controle/servico">Servicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link1 nav-link " href="/caixa">Caixa</a>
                </li>
            </ul>
         </nav>
        </div>
    </div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <h1>Conta a pagar</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputName">Conta <strong>*</strong></label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Descricao da conta" name="name" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputTel">Data pagamento:</label>
                        <input type="date" class="form-control" id="inputdate"  name="date">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputTel">Valor</label>
                        <input type="number" class="form-control" step="0.01" id="inputvalor" placeholder="R$00,00" name="valor">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputTel">Descricao</label>
                        <input type="text" class="form-control" id="inputvalor" placeholder="Descricao" name="desc">
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-primary float-right">Salvar</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}